body{
    background-color: #0db6bc;
}

#student_info_form{
    width:250px;
    margin:0 auto;
    background-color:#e1e1e1;
    padding:20px;
    font-family:"Times New Roman", Times, serif;
    font-size:10px;
    text-transform:uppercase;
    color:#333;
    float: left;


}
h1{
    text-align: center;

    color:#000;
}
label
{
    text-align: center;
    display:block;
    float:left;
    width:89px;
    margin-top:10px;

}
input[type="text"]
{
    margin-top:10px;
    width:150px;
    height:24px;
    border:0px;
}

main1{
    background-color: black;

}
input[type="submit"],input[type="reset"]
{
    text-align: center;
    border:20px;
    padding:10px;
    cursor:pointer;
    margin-top:10px;
    margin-left:0px;
}
#myformid label.error{
    display:block;
    float:right;
    width:300px;
    color: red;

}
#href{
    width: 100px;
    margin: 15px;
}


